body{
	margin: 0;
	background-color: #c6f8ff;
}

#container{
	height: calc(100vh);
	width: calc(100vw);
}

#button-container{
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
}

button{
	margin: 3px;
}

.music-img{
	height: 200px;
	width: 200px;
}

#music-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}