body{
	margin: 0;
	background-color: blue;
}

#container{
	height: calc(100vh);
	width: calc(100vw);
}

#button-container{
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
}

button{
	margin: 3px;
}